accelerate==1.0.1
bitsandbytes==0.43.2
datasets>=2.21.0
diffusers>=0.30.3
huggingface-hub>=0.24.6
jiwer>=3.0.4
parler-tts @ git+https://github.com/huggingface/parler-tts.git@5d0aca9753ab74ded179732f5bd797f7a8c6f8ee
peft>=0.12.0
pre-commit>=3.8.0
transformers>=4.43.3
trl==0.11.4
evaluate>=0.4.3
scikit_learn>=1.5.2
wandb>=0.18.1
# flash-attn==2.7.4.post1 disable for now.
